.form-container {
  padding: 20px;
  width: 90%;
  max-width: 80%;
  max-height: 90%;
  text-align: center;
}

.form-container__title {
  font-size: 40px;
  font-weight: 700;
}

.form {
  max-width: 385px;
  margin: 0 auto;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 0;
}

.form__label {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 8px;
}

.form__input {
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #838383;
  padding: 12px 15px;

  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.form__input::placeholder {
  color: #838383;
}

#nome {
  margin-bottom: 32px;
}

#numeroconvidados {
  margin-bottom: 60px;
}

#data {
  margin-bottom: 20px;
}

#email {
  margin-bottom: 32px;
}

.form__label_checkbox {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 66px;

  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__checkbox {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  margin: 0;
  flex-shrink: 0;
}

/* ===== Botão ===== */
.form__button {
  border: none;
  border-radius: 4px;
  background-color: #2f80ed;
  color: #ffffff;
  padding: 15px 20px;
  cursor: pointer;

  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  opacity: 1;
  transition: opacity 0.2s ease;
}

.form__button:hover {
  opacity: 0.7;
}
