.form-container {
  padding: 20px;
  width: 90%;
  max-width: 80%;
  max-height: 90%;
  text-align: center;
}

.form-container__title {
  font-size: 40px;
  font-weight: 700;
}

.form {
  max-width: 385px 100%;
  margin: 0 auto;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 0;
}

.form__label {
  color: #000000;
  margin-bottom: 8px;
  margin-top: 32px;
}

.form__input {
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #838383;
  padding: 15px 20px;
  color: #000000;
}

.form__input::placeholder {
  color: #838383;
  margin-bottom: 32px;
}

#nome {
  margin-bottom: 32px;
}

#numeroconvidados {
  margin-bottom: 32px;
}

#data {
  margin-bottom: 32px;
}

#email {
  margin-bottom: 32px;
}

.form__label_checkbox {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 66px;
}

.form__checkbox {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  margin: 0;
  margin-right: 12px;
  flex-shrink: 0;
}

/* ===== Botão ===== */
.form__button {
  border: none;
  border-radius: 4px;
  background-color: #2f80ed;
  color: #ffffff;
  padding: 15px 20px;
  cursor: pointer;

  opacity: 1;
  transition: opacity 0.2s ease;
}

.form__button:hover {
  opacity: 0.7;
}
